.feef {
    position:absolute;
    top:50%;
    left:50%;
    z-index: 2;
    width:80%;
    padding: 6%;
    justify-content: center;
    text-align: center;
    color:rgba(0,0,0,0.8);
}

.home-top {
  margin-right:200px;
}

.home-bottom{
 margin-right:120px;
}

.home-background{
    height: 40rem;
    background-image: url('/images/home.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 7vw;   
}