.title{
    display:flex;
    height:9.5rem;
    align-itmes: center;
    justify-content: center;
    font-size: 3rem;
    background-color: #607d8b;
    color:#fff;
    margin-top:3px;
    margin-bottom: 30px;
}

.projects {
    display:grid;
    grid-template-columns: repeat(autofill, minmax(250px, 1fr)); /* repeat 4 columns in a row with minimum size of 250px and maximum size of 1fr*/
    grid-gap: 1rem;
    margin-left:20px;
    margin-right:20px;
    /*width:100%;*/
}

@media screen and (max-width: 414px) {
    .projects {
        grid-template-columns: repeat(autofill, minmax(250px, 1fr)); /* repeat 4 columns in a row with minimum size of 250px and maximum size of 1fr*/

    }
}