@import url('https://fonts.googleapis.com/css?family=Roboto');

.wrapper {
    margin-top:30px;
    margin-bottom:300px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.report-form{
    display:flex;
    flex-direction: column;
    width:80%;
    background:rgba(0,0,0,0.8);
    padding:3rem;
    border-radius:1rem;
    box-shadow:0 0 10px;
    align-items:center;
    margin-bottom:3rem;
}

/* for StockReport.js */
.fileInfo {
    font-size:4vw;
    color: #4ac17a;
    margin-top:200px;

}

.fileInfo:hover {
    background-color: #4ac17a;
    color:rgba(0,0,0,0.8);
    padding:0.5rem;
    border-radius: 0.5rem;
}

.prj_title{
    display: flex;
    height: 40rem;
    align-items: center;
    justify-content: center;
    background-image: url('/images/stock2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 7vw;
}

._title {
    display:flex;
    height:6.7vw;
    align-items: center;
    justify-content: start;
    font-size: 4.5vw;
    background-color: #607d8b;
    color:#fff;
    margin-bottom: 1.3rem;
    padding-left:1.3rem;
}

._body {
    width:90%;
    display:flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:3.2vw;
    margin-bottom:2rem;
    color: rgba(0,0,0,0.9);
}

@media screen and (max-width: 600px) {
    .contact-form {
        position:relative;
        flex-direction: column;
    }
    .input-fields, .msg {
        width:100%;
    }
}

