@import url('https://fonts.googleapis.com/css?family=Roboto');

.wrapper {
    margin-top:30px;
    margin-bottom:300px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.report-form{
    display:flex;
    flex-direction: column;
    width:80%;
    background:rgba(0,0,0,0.8);
    padding:3rem;
    border-radius:1rem;
    box-shadow:0 0 10px;
    align-items:center;
    margin-bottom:3rem;
}

/* for StockReport.js */
.fileInfo {
    font-size:1.8rem;
    color: #4ac17a;
    margin-top:200px;

}

.fileInfo:hover {
    background-color: #4ac17a;
    color:rgba(0,0,0,0.8);
    padding:0.5rem;
    border-radius: 0.5rem;
}

.prj_title{
    display: flex;
    height: 40rem;
    align-items: center;
    justify-content: center;
    background-image: url('/images/stock2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 7vw;
}

._title {
    display:flex;
    height:3.5rem;
    align-items: center;
    justify-content: start;
    font-size: 2.2rem;
    background-color: #607d8b;
    color:#fff;
    margin-bottom: 1.3rem;
    padding-left:1.3rem;
}

._body {
    width:90%;
    display:flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:1.4rem;
    margin-bottom:2rem;
    color: rgba(0,0,0,0.9);
}

.tbl_stck {
    width:100%;
    border: 1px solid #444444;
    border-collapse: collapse;
    outline: none;
}

.tbl_stck > thead,td,th {
    /* border: 1px solid #444444; */
    border-bottom: 1px solid lightgray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    padding: 30px;
}

.tbl_stck > thead {
    background-color: #4ac17a;
    color: #fff;
    outline: none;
}

/* .tbl_stck tr:hover td {
    background-color: #a9cfa9;
    color: #fff;
} */

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
@media screen and (max-width: 600px) {
    .contact-form {
        position:relative;
        flex-direction: column;
    }
    .input-fields, .msg {
        width:100%;
    }
}

