
.title{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    background-image: url('/images/download.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #717786;
    font-size: 9vw;
}

#on{
    color:#20639B;
}